@model IEnumerable<DDPS.Api.Entities.Bookings>

@{
    ViewData["Title"] = "Заказы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <h1 class="text-center mb-4">Заказы</h1>
    <div class="row">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0">
            <a asp-action="Create" class="btn btn-success">Создать новый заказ</a>
        </div>
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0 text-end">
            <a asp-action="GetServicesTabless" class="btn btn-success">Все сервисы</a>
        </div>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Номер апарт.</th>
                    <th scope="col">Клиент</th>
                    <th scope="col">Тариф</th>
                    <th scope="col">Начальная дата</th>
                    <th scope="col">Конечная дата</th>
                    <th scope="col">Дополнительные услуги</th>
                    <th scope="col">Общая цена</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Apartament.Number</td>
                        <td>
                              @item.Client.SecondName
                              @item.Client.FirstName
                              @item.Client.LastName
                        </td>
                        <td>@item.Apartament.Tariff.Name</td>
                        <td>@item.StartTime</td>
                        <td>@item.EndTime</td>
                        <td>
                                @foreach (var service in item.Apartament.Services)
                                {
                                    @service.Name
                                    <br />
                                }
                        </td>
                        <td>@item.TotalPrice</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm me-2">Детальная инф.</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>