@model IEnumerable<DDPS.Api.Entities.Apartaments>

<div class="container-fluid mt-5">
    <h1 class="text-center mb-4">Выбор апартаментов</h1>

    <div class="row">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0">
            <a asp-action="CreateApartament" class="btn btn-success">Создать новые апартаменты</a>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th>Площадь м^2</th>
                <th>Удобства</th>
                <th>Включенные услуги</th>
                <th>Цена руб/день</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Area)
                        </td>
                        <td>
                            @foreach (var facility in item.Facilities)
                            {
                                @Html.DisplayFor(modelItem => facility.Name)
                                <br />
                            }
                        </td>
                        <td>
                            @foreach (var service in item.Services)
                            {
                                @Html.DisplayFor(modelItem => service.Name)
                                <br />
                            }
                        </td>
                        <td>
                            @(item.Tariff.Price + (item.Area * 50) + (int)(0.5 * item.Services.Sum(s => s.Price)))
                        </td>
                        <td>
                            @using (Html.BeginForm())
                            {
                                <div>
                                    <input type="hidden" name="apartament" value="@item.Id" />
                                    <button type="submit" class="btn btn-primary">Выбрать</button>
                                    <a asp-action="EditApartament" asp-route-apartamentId="@item.Id" class="btn btn-secondary ">Изменить</a>
                                </div>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>