@model IEnumerable<DDPS.Api.Entities.Services>

<form method="post">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                <tr>
                    <td><input type="checkbox" name="servicesIds" value="@service.Id" /></td>
                    <td>@service.Name</td>
                    <td>@service.Description</td>
                    <td>@service.Price</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Выбрать</button>
</form>