@model DDPS.Api.TempModels.ClientDetailsModel

@{
    ViewData["Title"] = "Детальная информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">Детальная информация</h3>
                </div>
                <div class="card-body">
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Фамилия:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Client.SecondName)</div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Имя:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Client.FirstName)</div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Отчество:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Client.LastName)</div>
                    </div>
                     <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">E-mail:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Client.Email)</div>
                    </div>
                    <div class="row mb-4 border-bottom">
                        <div class="col-sm-4 fw-bold">Телефонный номер:</div>
                        <div class="col-sm-8">@Html.DisplayFor(model => model.Client.PhoneNumber)</div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-sm-12 text-center">
                            <a asp-action="Edit" asp-route-id="@Model?.Client.Id" class="btn btn-warning mb-3">Изменить</a>
                            <br />
                            <a asp-action="Index" class="btn btn-primary">Вернуться к списку клиентов</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
@if (!Model.Bookings.Any())
{
    <h1 class="text-center mb-4">Бронирований нет</h1>
}
else
{
    <h1 class="text-center mb-4">Бронирования клиента @Model.Client.SecondName @Model.Client.FirstName @Model.Client.LastName</h1>
    <div class="row">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0 text-end">
            <a asp-action="GetBookingsForCurrentClient" asp-route-id="@Model.Client.Id" type="submit" class="btn btn-success">Отчет по моим заказам</a>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="table-responsive mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Номер апарт.</th>
                        <th scope="col">Тариф</th>
                        <th scope="col">Начальная дата</th>
                        <th scope="col">Конечная дата</th>
                        <th scope="col">Дополнительные услуги</th>
                        <th scope="col">Общая цена</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Bookings)
                    {
                        <tr>
                            <td>@item.Apartament.Number</td>
                            <td>@item.Apartament.Tariff.Name</td>
                            <td>@item.StartTime</td>
                            <td>@item.EndTime</td>
                            <td>
                                @foreach (var service in item.Apartament.Services)
                                {
                                    @service.Name
                                    <br />
                                }
                            </td>
                            <td>@(item.Services.Sum(s => s.Price) + (item.EndTime - item.StartTime).Days * (item.Apartament.Tariff.Price + (item.Apartament.Area * 50) + (int)(0.5 * item.Apartament.Services.Sum(s => s.Price))))</td>
                            <td>
                                <a asp-controller="Bookings" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger btn-sm">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


