@model IEnumerable<DDPS.Api.Entities.BookingsArchive>

@{
    ViewData["Title"] = "Архив бронировний";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-5">
    <h1 class="text-center mb-4">Архив бронирований</h1>
    <div class="row"></div>
    <div class="table-responsive mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Номер аппартаментов</th>
                    <th scope="col">Клиент</th>
                    <th scope="col">Заказные услуги</th>
                    <th scope="col">Начальная дата</th>
                    <th scope="col">Конечная дата</th>
                    <th scope="col">Дата закрытия бронирования</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ApartamentNumber</td>
                        <td>@item.ClientSecondName @item.ClientFirstName @item.ClientLastName</td>
                        <td>
                            @foreach (var service in item.ApartamentAdditionalServices)
                            {
                                @service.Name
                                @Environment.NewLine
                            }
                        </td>
                        <td>@item.BookingStartTime</td>
                        <td>@item.BookingEndTime</td>
                        <td>@item.InActiveTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>